@import "./layout.min.css";

.doctolib-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    min-height: 0px;
    width: 230px;
    background-image: none;
    background-color: #3498db;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid transparent;
    border-width: medium medium 2px;
    border-style: none none solid;
    border-image: none;
    border-radius: 5px;
    border-bottom-color: #2383c4;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-user-select: none;
}

.doctolib-button:hover {
    background-color: #077ac7;
    color: #ffffff;
    text-decoration: none;
}