---
---
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="noindex"/>
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url"/>
    <title>Content Manager</title>
  </head>
  <body>
    <script src="https://unpkg.com/decap-cms@^3.10.0/dist/decap-cms.js" is:inline></script>
  </body>
</html>

<script>
  import {DocToLibButton} from '../cms/components/DocToLibButton.js'
  import {JamedaEmbedding} from '../cms/components/JamedaEmbedding.js'
  import {Card} from '../cms/components/Card.js'
  import {ImageBlock} from '../cms/components/ImageBlock.js'

    function register() {
        // @ts-ignore
        const CMS = window.CMS;
        CMS.registerPreviewStyle('/src/styles/global.css');
        CMS.registerPreviewStyle('/src/styles/layout.min.css');

        CMS.registerEditorComponent(DocToLibButton);
        CMS.registerEditorComponent(JamedaEmbedding);
        CMS.registerEditorComponent(Card);
        CMS.registerEditorComponent(ImageBlock);
    }

    if (document.readyState === 'complete' || document.readyState === 'interactive') {
        register();
    } else {
        window.addEventListener('DOMContentLoaded', register);
    }
</script>