---
import MainLayout from '../layouts/MainLayout.astro';
import "../styles/global.css";
---
<MainLayout>
  <h1>Baby / erste Lebensjahre</h1>
  <ul>
    <li><a title="Baby- und Kinderosteopathie - Heilpraktikerin Simone Schulz, Frankfurt" href="babyzeit/baby-und-kinderosteopathie">Baby- und Kinderosteopathie</a></li>
    <li><a title="Babymassage - Heilpraktikerin Simone Schulz, Frankfurt" href="babyzeit/babymassage">Babymassage</a></li>
    <li><a title="Baby: Naturheilkunde und Homöopathie" href="babyzeit/naturheilkunde-und-homöopathie">Naturheilkunde und Homöopathie</a></li>
    <li><a title="Babygymnastik - Heilpraktikerin Simone Schulz, Frankfurt" href="babyzeit/motorische-entwicklung">Motorische Entwicklung</a></li>
  </ul>
</MainLayout>
