---
import MainLayout from '../layouts/MainLayout.astro';
import "../styles/global.css";
---
<MainLayout>
  <h1>Kinderwunsch</h1>
  <ul>
    <li><a title="Frauenheilkunde: Hormonhaushalt - Heilpraktikerin Simone Schulz, Frankfurt" href="frauenheilkunde/hormonhaushalt">Hormonhaushalt</a></li>
    <li><a title="Frauenheilkunde: Schilddrüse - Heilpraktikerin Simone Schulz, Frankfurt" href="frauenheilkunde/schilddrüse">Schilddrüse</a></li>
    <li><a title="Frauenheilkunde: Osteopathie - Heilpraktikerin Simone Schulz, Frankfurt" href="frauenheilkunde/osteopathie">Osteopathie</a></li>
    <li><a title="Wechseljahre - Heilpraktikerin Simone Schulz, Frankfurt" href="frauenheilkunde/wechseljahre">Wechseljahre</a></li>
    <li><a title="Frauenheilkunde: Chronische Erschöpfung und Müdigkeit  - Heilpraktikerin Simone Schulz, Frankfurt" href="frauenheilkunde/chronische-erschöpfung-und-müdigkeit">Chronische Erschöpfung und Müdigkeit</a></li>
    <li><a title="Frauenheilkunde: Ernährungsberatung und Gewichtsregulation - Heilpraktikerin Simone Schulz, Frankfurt" href="frauenheilkunde/ernährungsberatung-und-gewichtsregulation">Ernährungsberatung und Gewichtsregulation</a></li>
  </ul>
</MainLayout>
