---
import MainLayout from '../layouts/MainLayout.astro';
import "../styles/global.css";
---
<MainLayout>
  <h1>Kinderwunsch</h1>
  <ul>
    <li><a title="Kinderwunsch: Anamnese und Therapiekonzept - Heilpraktikerin Simone Schulz, Frankfurt" href="kinderwunsch/anamnese-und-therapiekonzept">Anamnese und Therapiekonzept</a></li>
    <li><a title="Kinderwunsch: Fruchtbarkeitsmassage - Heilpraktikerin Simone Schulz, Frankfurt" href="kinderwunsch/fruchtbarkeitsmassage">Fruchtbarkeitsmassage</a></li>
    <li><a title="Kinderwunsch: Osteopathie - Heilpraktikerin Simone Schulz, Frankfurt" href="kinderwunsch/osteopathie">Osteopathie</a></li>
    <li><a title="Kinderwunschhypnose - Heilpraktikerin Simone Schulz, Frankfurt" href="kinderwunsch/kinderwunschhypnose">Kinderwunschhypnose</a></li>
    <li><a title="Kinderwunsch: Männliche Fertilität - Heilpraktikerin Simone Schulz, Frankfurt" href="kinderwunsch/männliche-fertilität">Männliche Fertilität</a></li>
  </ul>
</MainLayout>
