---
import MainLayout from '../layouts/MainLayout.astro';
import "../styles/global.css";
---
<MainLayout>
  <h1>Kontakt</h1>
  <h2>Hier finden Sie alle wichtigen Informationen rund um meine Praxis:</h2>
  <ul>
    <li><a title="Praxis - Heilpraktikerin Simone Schulz, Frankfurt" href="kontakt/praxis">Praxis</a></li>
    <li><a title="Kontakt und Anfahrt - Heilpraktikerin Simone Schulz, Frankfurt" href="kontakt/kontakt-und-anfahrt">Kontakt und Anfahrt</a></li>
    <li><a title="Terminvereinbarung - Heilpraktikerin Simone Schulz, Frankfurt" href="kontakt/terminvereinbarung">Terminvereinbarung</a></li>
    <li><a title="Labordiagnostik - Heilpraktikerin Simone Schulz, Frankfurt" href="kontakt/labordiagnostik">Labordiagnostik</a></li>
    <li><a title="Honorar - Heilpraktikerin Simone Schulz, Frankfurt" href="kontakt/honorar">Honorar</a></li>
    <li><a title="Hinweise zu Kostenerstattung - Heilpraktikerin Simone Schulz, Frankfurt" href="kontakt/hinweise-zur-kostenerstattung">Hinweise zu Kostenerstattung</a></li>
  </ul>
</MainLayout>
