---
import MainLayout from '../layouts/MainLayout.astro';
import "../styles/global.css";
---
<MainLayout>
  <h1>Schwangerschaft</h1>
  <ul>
    <li><a title="Schwangerschaft: Naturheilkunde und Homöopathie - Heilpraktikerin Simone Schulz, Frankfurt" href="schwangerschaft/naturheilkunde-und-homöopathie">Naturheilkunde und Homöopathie</a></li>
    <li><a title="Schwangerschaft: Osteopathie - Heilpraktikerin Simone Schulz, Frankfurt" href="schwangerschaft/osteopathie">Osteopathie</a></li>
    <li><a title="Schwangerschaftsmassage - Heilpraktikerin Simone Schulz, Frankfurt" href="schwangerschaft/schwangerschaftsmassage">Schwangerschaftsmassage</a></li>
    <li><a title="Geburtsvorbereitende Hypnose - Heilpraktikerin Simone Schulz, Frankfurt" href="schwangerschaft/geburtsvorbereitende-hypnose">Geburtsvorbereitende Hypnose</a></li>
    <li><a title="Schwangerschaftsyoga - Heilpraktikerin Simone Schulz, Frankfurt" href="schwangerschaft/schwangerschaftsyoga">Schwangerschaftsyoga</a></li>
  </ul>
</MainLayout>
