---
---
<footer id="footer">
  <div class="inside">
    <!-- indexer::stop -->
    <nav class="mod_navigation nav_meta block" role="off-canvas">
      <a href="#skipNavigation53"
         class="invisible">Navigation überspringen</a>
      <ul class="level_1">
        <li class="first"><a href="impressum"
                             title="Impressum" class="first">Impressum</a></li>
        <li class="last"><a href="datenschutz"
                            title="Datenschutz" class="last">Datenschutz</a></li>
      </ul>
      <a id="skipNavigation53" class="invisible">&nbsp;</a>
    </nav>
    <!-- indexer::continue -->
    <div class="footer-content">
      <div class="mod_article block" id="article-18">
        <div class="ce_text grid2 block">
          <h4>Heilpraktikerin Simone Schulz</h4>
          <p>Seckbacher Landstr. 74<br>Erdgeschoss links<br>60389 Frankfurt</p>
          <p>Nußallee 7<br>Gebäude C / 2. OG<br>63450 Hanau</p>
          <p>Telefon: <a href="tel:+491601536183">01601536183</a><br>Email: <a
            href="mailto:info@praxismitherz.net">info@praxismitherz.net</a></p>
        </div>
        <div class="ce_text grid1 block">
          <div id="jameda-widget-container1716104"
               style="position:relative;width:97px;height:145px;margin:15px 25px;background-image:url(https://cdn1.jameda-elements.de/premium/widgets/_images/bw-small-bg.png);background-repeat:no-repeat;font-family:Arial,Helvetica,sans-serif;font-size:12px;line-height:15px">
            <a
              href="https://www.jameda.de/frankfurt-am-main/heilpraktiker/osteopathie/fachgebiet/?utm_content=BWnote&amp;utm_source=Kunden-Homepages&amp;utm_medium=Badges&amp;utm_term=81549343&amp;utm_campaign=Badges"
              class="jam_link_check"
              style="display:block; position:absolute; top:100px; left:10px; width:70px; height:20px; background-color:transparent !important;"
              target="_blank"></a></div>
        </div>
        <div class="ce_text grid1 block">
          <p style="text-align: right;"><a title="Über mich - Heilpraktikerin Simone Schulz, Frankfurt"
                                           href="/about">
            <img
              src="/images/7dd71608-63bd-4a32-a2c6-fb56540f7826.jpg"
              alt="Heilpraktikerin Simone Schulz, Frankfurt" width="150" height="198"/>
          </a></p>
        </div>
      </div>
    </div>
  </div>
</footer>