local_backend: true
backend:
  name: git-gateway
media_folder: "public/images"
public_folder: "/images"
collections:
  - name: page
    label: Hauptseiten
    label_singular: Hauptseite
    folder: src/content
    create: true
    extension: mdx
    format: frontmatter
    identifier_field: slug
    fields:
      - { label: "Dateiname / Slug", name: "slug", widget: "string" }
      - { label: Inhalt, name: body, widget: markdown }
  - name: kinderwunsch
    label: Kinderwunsch Seiten
    label_singular: Kinderwunsch Seite
    folder: src/content/kinderwunsch
    create: true
    extension: mdx
    format: frontmatter
    identifier_field: slug
    fields:
      - { label: "Dateiname / Slug", name: "slug", widget: "string" }
      - { label: Inhalt, name: body, widget: markdown }
  - name: schwangerschaft
    label: Schwangerschaft Seiten
    label_singular: Schwangerschaft Seite
    folder: src/content/schwangerschaft
    create: true
    extension: mdx
    format: frontmatter
    identifier_field: slug
    fields:
      - { label: "Dateiname / Slug", name: "slug", widget: "string" }
      - { label: Inhalt, name: body, widget: markdown }
  - name: frauenheilkunde
    label: Frauenheilkunde Seiten
    label_singular: Frauenheilkunde Seite
    folder: src/content/frauenheilkunde
    create: true
    extension: mdx
    format: frontmatter
    identifier_field: slug
    fields:
      - { label: "Dateiname / Slug", name: "slug", widget: "string" }
      - { label: Inhalt, name: body, widget: markdown }
  - name: babyzeit
    label: Babyzeit Seiten
    label_singular: Babyzeit Seite
    folder: src/content/babyzeit
    create: true
    extension: mdx
    format: frontmatter
    identifier_field: slug
    fields:
      - { label: "Dateiname / Slug", name: "slug", widget: "string" }
      - { label: Inhalt, name: body, widget: markdown }
  - name: kontakt
    label: Kontakt Seiten
    label_singular: Kontakt Seite
    folder: src/content/kontakt
    create: true
    extension: mdx
    format: frontmatter
    identifier_field: slug
    fields:
      - { label: "Dateiname / Slug", name: "slug", widget: "string" }
      - { label: Inhalt, name: body, widget: markdown }
  - name: settings
    label: Einstellungen
    files:
      - name: site-settings
        label: Seiteneinstellungen
        file: src/settings/site-settings.json
        fields:
          - { label: Titel Suffix, name: siteTitleSuffix, widget: string }
      - name: navigation
        label: Navigation
        file: src/settings/navigation.json
        fields:
          - label: Links
            name: links
            widget: list
            summary: "{{fields.label}} → {{fields.href}}"
            fields:
              - { label: Label, name: label, widget: string }
              - { label: Titel, name: title, widget: string }
              - { label: URL, name: href, widget: string }
              - { label: Header Bild, name: header_img, widget: image, required: false }
              - { label: Show in Header, name: show_in_header, widget: boolean, default: true }
              - name: sublinks
                label: Unterlinks
                widget: list
                required: false
                collapsed: true
                summary: "{{fields.label}} → {{fields.href}}"
                fields:
                  - { label: Label, name: label, widget: string }
                  - { label: Titel, name: title, widget: string }
                  - { label: URL, name: href, widget: string }
                  - { label: Header Bild, name: header_img, widget: image, required: false }
                  - { label: Show in Header, name: show_in_header, widget: boolean, default: true }
