backend:
  name: github
  repo: siahdohoni/web-praxis-mit-herz
  branch: main
publish_mode: editorial_workflow
media_folder: "public/images"
public_folder: "/images"
collections:
  - name: page
    label: Hauptseiten
    label_singular: Hauptseite
    folder: src/content
    create: true
    extension: mdx
    format: frontmatter
    identifier_field: slug
    fields:
      - { label: "Dateiname / Slug", name: "slug", widget: "string" }
      - { label: Inhalt, name: body, widget: markdown, editor_components: ['img', 'card', 'imageblock', 'button', 'jamedaembedding', 'splitpage', 'imagegallery'] }
  - name: kinderwunsch
    label: Kinderwunsch Seiten
    label_singular: Kinderwunsch Seite
    folder: src/content/kinderwunsch
    create: true
    extension: mdx
    format: frontmatter
    identifier_field: slug
    fields:
      - { label: "Dateiname / Slug", name: "slug", widget: "string" }
      - { label: Inhalt, name: body, widget: markdown, editor_components: ['img', 'card', 'imageblock', 'button', 'jamedaembedding', 'splitpage', 'imagegallery'] }
  - name: schwangerschaft
    label: Schwangerschaft Seiten
    label_singular: Schwangerschaft Seite
    folder: src/content/schwangerschaft
    create: true
    extension: mdx
    format: frontmatter
    identifier_field: slug
    fields:
      - { label: "Dateiname / Slug", name: "slug", widget: "string" }
      - { label: Inhalt, name: body, widget: markdown, editor_components: ['img', 'card', 'imageblock', 'button', 'jamedaembedding', 'splitpage', 'imagegallery'] }
  - name: frauenheilkunde
    label: Frauenheilkunde Seiten
    label_singular: Frauenheilkunde Seite
    folder: src/content/frauenheilkunde
    create: true
    extension: mdx
    format: frontmatter
    identifier_field: slug
    fields:
      - { label: "Dateiname / Slug", name: "slug", widget: "string" }
      - { label: Inhalt, name: body, widget: markdown, editor_components: ['img', 'card', 'imageblock', 'button', 'jamedaembedding', 'splitpage', 'imagegallery'] }
  - name: babyzeit
    label: Babyzeit Seiten
    label_singular: Babyzeit Seite
    folder: src/content/babyzeit
    create: true
    extension: mdx
    format: frontmatter
    identifier_field: slug
    fields:
      - { label: "Dateiname / Slug", name: "slug", widget: "string" }
      - { label: Inhalt, name: body, widget: markdown, editor_components: ['img', 'card', 'imageblock', 'button', 'jamedaembedding', 'splitpage', 'imagegallery'] }
  - name: kontakt
    label: Kontakt Seiten
    label_singular: Kontakt Seite
    folder: src/content/kontakt
    create: true
    extension: mdx
    format: frontmatter
    identifier_field: slug
    fields:
      - { label: "Dateiname / Slug", name: "slug", widget: "string" }
      - { label: Inhalt, name: body, widget: markdown, editor_components: ['img', 'card', 'imageblock', 'button', 'jamedaembedding', 'splitpage', 'imagegallery'] }
  - name: settings
    label: Einstellungen
    files:
      - name: site-settings
        label: Seiteneinstellungen
        file: src/settings/site-settings.json
        editor:
          preview: false
        fields:
          - { label: Logo, name: logo, widget: image }
          - { label: Titel Suffix, name: siteTitleSuffix, widget: string }
          - { label: Site Description, name: siteDescription, widget: string }
          - { label: Site Keywords, name: keywords, widget: string }
          - { label: Footer Image, name: footerImage, widget: image }
          - { label: Footer Image Link, name: footerImageHref, widget: string }
          - { label: Footer Image Alt, name: footerImageAlt, widget: string }
          - { label: Footer Image Width, name: footerImageWidth, widget: number }
          - { label: Footer Text, name: footerText, widget: markdown }
      - name: navigation
        label: Navigation
        file: src/settings/navigation.json
        editor:
          preview: false
        fields:
          - label: Links
            name: links
            widget: list
            summary: "{{fields.label}} → {{fields.href}}"
            fields:
              - { label: Label, name: label, widget: string }
              - { label: Titel, name: title, widget: string }
              - { label: URL, name: href, widget: string }
              - { label: Header Bild, name: header_img, widget: image, required: false }
              - { label: Show in Header, name: show_in_header, widget: boolean, default: true }
              - name: sublinks
                label: Unterlinks
                widget: list
                required: false
                collapsed: true
                summary: "{{fields.label}} → {{fields.href}}"
                fields:
                  - { label: Label, name: label, widget: string }
                  - { label: Titel, name: title, widget: string }
                  - { label: URL, name: href, widget: string }
                  - { label: Header Bild, name: header_img, widget: image, required: false }
                  - { label: Show in Header, name: show_in_header, widget: boolean, default: true }
