local_backend: true
backend:
  name: git-gateway
media_folder: "public/images"
public_folder: "/images"
collections:
  - name: page
    label: Seite
    folder: src/content
    create: true
    extension: mdx
    format: frontmatter
    identifier_field: slug
    fields:
      - { label: "Dateiname / Slug", name: "slug", widget: "string" }
      - { label: Inhalt, name: body, widget: markdown }
  - name: settings
    label: Einstellungen
    files:
      - name: site-settings
        label: Seiteneinstellungen
        file: src/settings/site-settings.json
        fields:
          - { label: Titel Suffix, name: siteTitleSuffix, widget: string }
      - name: navigation
        label: Navigation
        file: src/settings/navigation.json
        fields:
          - label: Links
            name: links
            widget: list
            summary: "{{fields.label}} → {{fields.href}}"
            fields:
              - { label: Label, name: label, widget: string }
              - { label: Titel, name: title, widget: string }
              - { label: URL, name: href, widget: string }
              - { label: Header Bild, name: header_img, widget: image, required: false }
              - name: sublinks
                label: Unterlinks
                widget: list
                required: false
                collapsed: true
                summary: "{{fields.label}} → {{fields.href}}"
                fields:
                  - { label: Label, name: label, widget: string }
                  - { label: Titel, name: title, widget: string }
                  - { label: URL, name: href, widget: string }
                  - { label: Header Bild, name: header_img, widget: image, required: false }
