---
import "../styles/fonts.css";
import "../styles/layout.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import navigation from "../settings/navigation.json";
import settings from "../settings/site-settings.json";

const currentPath = decodeURIComponent(Astro.url.pathname).replace(/\/$/, '') || '/';

// Find the current navigation item to get the header image
const currentLink = navigation.links
    .flatMap(l => [l, ...(l.sublinks)])
    .find(l => {
        return l.href === currentPath || l.href === '/' && currentPath === '/index';
    });
if (!currentLink)
    throw new Error(`No navigation item found for path "${currentPath}"`);
---
<html lang="de">
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico"/>
    <meta name="robots" content="index,follow">
    <meta name="description" content={settings.siteDescription}>
    <meta name="keywords" content={settings.keywords}>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{currentLink.title + settings.siteTitleSuffix}</title>
  </head>
  <body id="top" class="mac chrome blink ch143">
    <input type="checkbox" id="menu" class="mobile-check">
    <label for="menu" class="button-nav-mobile"></label>
    <div class="outer-wrapper">
      <div class="inner-wrapper">
        <Header/>
        <div id="wrapper">
          <div id="container">
            <main id="main">
              <slot/>
            </main>
          </div>
        </div>
      </div>
      <Footer/>
    </div>
  </body>
</html>